@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap');

* {
    outline: none !important;
}

body, html {
    font-family: 'Red Hat Display', sans-serif;
    scroll-behavior: smooth;
    background: #fcfaf9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.wallet-adapter-button-trigger {
    font-size: 14px;
    padding-left: 18px;
    padding-right: 18px;
}

.wallet-adapter-button {
    height: 40px !important;
}

.wallet-adapter-button,
.wallet-adapter-modal-wrapper {
    font-family: inherit !important;
}